.ww-navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.ww-navbar-items{
    display: flex;
}

#ww-navbar-check{
    display: none;
}

@media (min-width: 600px){

}

@media (max-width: 600px){
    .ww-navbar-items{
        position: fixed;
        z-index: 6;
    }
}